// these styles are globaly used by all. (used trew element tags or other selectors except classes and id's
@import '../css/variables.scss';

*,*::before,*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline-color: $dali-white;
}

:focus-visible{
  outline: 2px solid;
  outline-offset: 2px;
  transition: none;
  mix-blend-mode: difference;
}

body{
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.1;
}

#root{
  overflow: hidden;
  max-width: 100vw;
  max-height: 100vh;
}

// all styles here are specified syles for components (is re-used by the same component)
@import '../css/components/background.scss';
@import '../css/components/form.scss';
@import '../css/components/card.scss';
@import '../css/components/header.scss';
@import '../css/components/dropdown.scss';
@import '../css/components/popup.scss';
@import '../css/components/sidebar.scss';
@import '../css/components/accordion.scss';

// all styles here are specified styles for whole pages (cannot be re-used)
@import '../css/pages/Home.scss';
@import '../css/pages/Inlog.scss';
