*,*::before,*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:focus-visible{
  outline: 2px solid black;
  outline-offset: 2px;
}

body{
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size: 14px;
}