.content-container{
  
  header{
    box-shadow: rgb(0 0 0 / 50%) 1px 0px 5px; // * klopt
    height: 57px; // * klopt volgens dali maar is niet netjes
  }

  main{
      position: relative;
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      grid-gap: 10px; // * klopt
      padding: 20px 10px; // * klopt

  }
  
  .invisible-link{
    position: absolute;
    top: 5px;
    left: 5px;
    background-color: black;
    height: min-content;
    color: white;
    font-weight: 400;
    padding: 5px;
    z-index: 1000;
  }

  .invisible-link:focus{
    translate: 0;
  }

  .header-link{
    translate: 0 -150%;
  }

  .card-link{
    translate: -150% 0;
  }

}