main>img{
  width: 100%;
  height: 100%;
}

.inlog-shadow{
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 25%;
  background-color: rgba(0,0,0,.8);;
}

.inlog-sidebar{
  color: white;
  opacity: 1;
  background: transparent;
  display: flex;
  justify-content: center;
}

h1{
  display: block;
}
