// .dali-user-profile{
//   text-align: center;
//   justify-content: center;
//   font-size: 5rem;
  
//   i{
//     display: flex;
//     justify-content: center;
//     color: #bd3c5b;
//     margin: .5rem 0;
//   }
  
//   .dali-user-name{
//     font-size: 1rem;
//   }
//   .dali-user-role{
//     font-size: .8rem;
//     text-transform: capitalize;
//     font-style: italic;
//   }
// }

.dali-user-profile{
  display: grid;
  // grid-template-areas: "head"
  //                      "name"
  //                      "rol";
  grid-template-areas: "head name"
                       "head rol";
  gap: 0 .5rem;
  align-items: end;

  i{
    grid-area: head;
    color: #bd3c5b;
    margin: 0 .5rem;
    font-size: 5rem;
  }

  .dali-user-name{
    grid-area: name;
    font-size: 1rem;
  }

  .dali-user-role{
    grid-area: rol;
    font-size: .8rem;
    text-transform: capitalize;
    font-style: italic;
  }
}

@media only screen and (min-height: 320px) {
  .dali-user-profile{
    grid-template-areas: "head"
                         "name"
                         "rol";
    gap: .5rem;
    justify-items: center;
  }
}