// if display flex is removed, header height won't be counted as taken. this will result in the loss of some content.
[class*=bronverwijzingen-contentbox]{
  height: 100vh;
  display: flex;
  flex-direction: column;
  
  .resultaten-contentbox{
    min-width: 300px;
    width:100%;
    height: 100%;
    padding: 2vh 2%;
    padding-bottom: 2rem;
    overflow: hidden;
    overflow-y: auto;
    transition: all .5s ease;
  
    :focus-visible {
      mix-blend-mode: normal;
    }

    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-track {
      background: rgba($dali-gray-3, .3);
    }

    &::-webkit-scrollbar-thumb {
      background-color: $dali-gray-1;
      border-radius: 20px;
    }
  }
}

@each $color, $value in $theme-colors {
  [class*=bronverwijzingen-contentbox][class*=#{$color}]{
    $text-color: map-get($value, "foreground");
    $background-color: map-get($value, "background");

    .resultaten-contentbox::-webkit-scrollbar-thumb {
      background-color: $background-color;
    }
  }
}

@media only screen and (min-width: 1024px) {
  [class*=dali-sidebar]:not(.closed){
    &:not([class*=right]) ~ .resultaten-contentbox,
    &:not([class*=right]) ~ [class*=dali-header]{
      margin-left: 30%;
      width: 70%;
    }
  }
}