.content-container{
  height: 100%;
  padding-bottom: 3rem;
  
  main{
      position: relative;
      display: grid;
      align-content: start;
      grid-template-columns: repeat(auto-fill, minmax(245px, 1fr));
      grid-gap: 10px;
      height: 100%;
      padding: 20px 10px;
      overflow: auto;
  }
}
