.content-container{
  height: 100%;
  padding-bottom: 3rem;

  .dali-user-profile{
    text-align: center;
    justify-content: center;
    font-size: 5rem;
    
    i{
      display: flex;
      justify-content: center;
      color: #bd3c5b;
      margin: .5rem 0;
    }
    
    .dali-user-name{
      font-size: 1rem;
    }
    .dali-user-role{
      font-size: .8rem;
      text-transform: capitalize;
      font-style: italic;
    }
  }
  
  main{
      position: relative;
      display: grid;
      align-content: start;
      grid-template-columns: repeat(auto-fill, minmax(244px, 1fr));
      grid-gap: 10px;
      height: 100%;
      padding: 20px 10px;
      overflow: auto;
  }
  
  .invisible-link{
    position: absolute;
    top: 5px;
    left: 5px;
    background-color: transparent;
    height: min-content;
    color: $dali-white;
    font-weight: 400;
    padding: 5px;
    z-index: 1000;
  }

  .invisible-link:focus{
    translate: 0;
  }

  .header-link{
    translate: 0 -150%;
  }

  .card-link{
    translate: -150% 0;
  }
}

.ondersteuning-popup-body{
  padding: 0 !important;
  
  .gebruikshandleidingen{
    .title{
      width: 100%;
      background-color: $dali-gray-3;
      padding: .3rem .5rem;
      font-size: 1rem;
      font-style: italic;
      color: $dali-white;
    }
    
    ul{
      padding: 10px;
      display: flex;
      flex-direction: column;
      
      li{
        font-size: 1.1rem;
        list-style: none;
        display: inline-flex;
        justify-content: space-between;
        height: 3.5rem;
        border: 1px solid #b6b6b6;
        align-items: center;
        padding: 0.5rem;

        &:not(:last-child){
          border-bottom: none;
        }

        .button-box{
          aspect-ratio: 3/1;
          height: 100%;
          display: flex;
          justify-content: flex-end;
          
          a{
            height: 100%;
            aspect-ratio: 1/1;
            text-align: center;
            font-size: 1.2rem;
            border: 1px solid $dali-gray-1;
            margin: 0 .5rem;
            color: $dali-black;
            padding: .55rem 0;

            &:hover, 
            &:focus-visible{
              background-color: $dali-red;
              color: $dali-white;
            }
          }
        }
      }
    }
  }
}