.inlog-shadow:not(#real){
  right: 0;
}

.inlog-sidebar{
  display: flex;
  flex-direction: column;
  align-items: center;
    
    .header-image-container{
      background-color: white;
      color: white;
      width: 38%;
      aspect-ratio: 1/1.3;
      margin: 0 auto;
      text-align: center;
      margin-bottom: 1em;
      
      > img{
        width: 70%;
        margin-top: 25%;
      }
    }
    
    .dali-slogan{
      font-size: 1.1em;
      text-transform: uppercase;
      margin-bottom: 1em;
      display: flex;
      flex-direction: column;
      text-align: center;
    
      h1{
        font-size: inherit;
        font-weight: inherit;
      }
    }

  .sidebar-main-content{

    .icon-input{
      margin-top: 2.5em;
    }    

    button[type="submit"]{
      background-color: $dali-red;
      margin: 1em 0;
    
      &:hover{
        background-color: $dali-gray-2;
      }
    }
    
    button{
      background-color: $dali-gray-2;
      height: 2.4em;
      border-radius: 5px;
      color: $dali-white;
      margin-bottom: .65em;
      transition: background-color .3s ease;

      &:hover{
        background-color: $dali-red;
      }
    }
  }

  footer{
    bottom: 20px;
    right: 20px;
  }
}

@media only screen and (max-width: 1024px) {
  .header-image-container{
    width: 16% !important;
  }
}