[class*=dali-accordion]{
  width: 100%;
  margin-bottom: .125rem;

  &[open]{
    > summary{
      border-radius: 5px 5px 0 0;
      > i{
        transform: rotatex(180deg);
      }
    }
    
    [class*=dali-accordion]{
      margin-bottom: 0;
      Summary{
        border-radius: 0;
        background-color: $dali-gray-1;
        > .dali-badge{
          background-color: $dali-white;
          color: $dali-black;
        }
      }
      [class*=dali-accordion]{
        Summary{
          background-color: $dali-gray-2;
        }
        [class*=dali-accordion]{
          Summary{
            background-color: $dali-gray-3;
          }
          [class*=dali-accordion]{
            Summary{
              background-color: $dali-white;
              color: $dali-black;
              border-bottom: 1px solid $dali-gray-2;
            }
          }
        }
      }
    }
  }
  
  summary{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 2.25rem;
    padding: .5rem;
    border-radius: 5px;

    h3{
      margin: 0;
      font-size: 1rem;
      font-weight: 700;
    }

    i{
      position: absolute;
      right: .5rem;
      transition: all 0.3s;
    }
  }
}

[class*=dali-accordionWrapper] [class*=wrapper-buttonbox]{ 
  display: grid;
  justify-content: start;
  grid-template-columns: repeat(auto-fill, minmax(9rem, 1fr));
  column-gap: 0.5rem;
  margin: 0 0.5rem 1rem .5rem;
  margin-left: 0;
  
  >button{
    font-size: 1.1rem;
    height: 2.5rem;
    border: none;
    
    &:focus-visible,
    &:hover,
    &:active{
      outline: none;
    }
  }

  [class*=accordion-dropdown-sort]{
    left: 0;
  }

  .dropdown-button{
    z-index: 10;

    &, ~[class*=dali-dropdown]{
      grid-column: 1/2;
      grid-row: 1/2;
    }
  }

  button{
    grid-column: 2/3;
    grid-row: 1/2;
  }
}

.dali-badge{
  min-width: 1.6rem;
  height: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1.5rem;
  font-size: 1rem;
  background-color: $dali-gray-1;
  color: $dali-white;
  border: 2px solid transparent;
  font-weight: 700;
  border-radius: 1rem;

  &[data-usebadge=false]{
    display: none;
  }
}

.accordion-body{
  margin: 0;
  padding: 1vw;
  background-color: $dali-white;
}

[class*=accordion-item]{
  background-color: $dali-white;
  padding: .5rem;
  min-height: 3.5rem;
  border: 1px solid $dali-gray-3;
  border-radius: 2px;
  list-style: none;

  .article-text{
    max-width: 16ch;
  }

  .article-text, .button-box{
    font-size: 1.3rem;
    display: inline-block;
  }

  .button-box{
    font-size: 1rem;
    float: right;
  }

  [class*=article-button]{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    aspect-ratio: 1/1;
    margin: .2rem;
    border: 2px solid $dali-gray-1;
    color: $dali-black;
    text-decoration: none;
    cursor: pointer;

    &[class*=disabled]{
      border-color: rgba($dali-gray-1, .6);
      color: rgba($dali-black, .6);
      cursor: auto;
      &::before{
        content: 'disabled';
        position: absolute;
        font-weight: 600;
        color: $dali-red;
        transform: translate(-100%);
      }
    }
  }
}


//varianten
@each $color, $value in $theme-colors {
  $text-color: map-get($value, "foreground");
  $background-color: map-get($value, "background");

  [class*=dali-accordion][class*=#{$color}]{

    summary{
      background-color: $background-color;
      color: $text-color;

      &:focus-visible,
      [class*=dali-accordion]:focus-visible{
        outline: none;
        border: 2px solid $background-color;
        background-color: $text-color;
        color: $background-color; 
      }
    }

    .accordion-loader {
      span{
        background-color: $background-color;
        &:first-child{
          color: $background-color;
        }
      }
    }

    &[class*=color-nest]{
      >*{
        border-color: $background-color;
      }
    }

    &[class*=opage] >summary{
      background-color: rgba($background-color, .3);
      color: $dali-black;

      &:hover,
      &:active,
      &:focus-visible{
        background-color: $background-color;
        color: $text-color;
      }
    }

    &[class*=opage][open] >summary{
      background-color: $background-color;
        color: $text-color;
    }

    .article-button:focus-visible,
    .article-button:hover{
      background-color: $background-color;
      color: $text-color; 
    }
  }

  [class*=accordion-item][class*=#{$color}]{
    .article-button:focus-visible,
    .article-button:hover{
      background-color: $background-color;
      color: $text-color; 
    }
  }

  [class*=dali-accordionWrapper][class*=#{$color}] [class*=wrapper-buttonbox]{ 
    >button{
      background-color: $background-color;
      color: $text-color;
      
      &:focus-visible,
      &:hover,
      &:active{
        border: 2px solid $background-color;
        background-color: $text-color;
        color: $background-color;
      }
    }
  }
}

[class*=dali-accordion][class*=color-nest]{
  [class*=dali-accordion], >*{
    border-right: 0;
    border-bottom: 0;
    border-left-width: 10px;
    border-left-style: solid;
  }
  >*{
    &[class*=dali-accordion]>*:not(summary){
      border-bottom-width: 10px;
      border-bottom-style: solid;
      border-color: $dali-gray-1;

      &[class*=dali-accordion]>*:not(summary){
        border-color: $dali-gray-2;
        
        &[class*=dali-accordion]>*:not(summary){
          border-color: $dali-gray-3;
        }
      }
    }
  }
}
// loader
[class*=dali-accordion]{
  .accordion-loader{
    span:first-child{
      font-weight: 700;
      background-color: transparent;
      font-size: 1.5rem;
      margin-right: .5rem;
    }

    span:not(:first-child){
      display: inline-block;
      position: relative;
      bottom: 0px;
      width: .7rem;
      height: .7rem;
      margin: 2rem .25rem 0 .25rem;
      border-radius: 50%;
      animation: bounce .5s infinite ease-in-out alternate;
    }

    span:nth-child(3){
      animation-delay: .15s;
    }
    span:nth-child(4){
      animation-delay: .3s;
    }
  }
}

@keyframes bounce {
  0%{
    bottom: 0rem;
  }
  90%{
    bottom: 1rem;
  }  
  100%{ 
    bottom: 1rem;
  }
}

@media only screen and (min-width: 512px) {
  [class*=accordion-item]{
    .article-text{
      max-width: 30ch;
    }
  }
}

@media only screen and (min-width: 768px) {
  [class*=accordion-item]{
    .article-text{
      max-width: 52ch;
    }
  }
}

@media only screen and (min-width: 1024px) {
  [class*=accordion-item]{
    .article-text{
      max-width: 74ch;
    }
  }
}