.dropdown-button{
  &[aria-expanded="true"]{
    
    &~ [class*=dali-dropdown] {
      top: 100%;
      .dropdown-menu, .dropdown-menu:focus-within{
        display: block;
        top: initial;
      }
    }
  }
  .dropdown-icon {
    display: inline;
    margin-left: 1ch;
    *{
      transition: all 0.3s;
    }
  }
  &[aria-expanded="true"]{
    .dropdown-icon *{
      transform: rotatex(180deg);
    }
  }
}

[class*=dali-dropdown]{
  position: relative;

  .dropdown-menu{
    box-shadow: 0 35px 77px -17px rgb(0 0 0 / 44%);
    padding: 0.5em;
    width: 250px;
    border-radius: inherit;
    right: 0;

    .dali-dropdown-button{
      display: block;
      padding: .5rem;
      border-radius: 5px;
      width: 100%;
      text-align: inherit;
      background-color: transparent;
      color: inherit;
      border: 0;
      text-decoration: none;
    }
  }
}

@each $color, $value in $theme-colors {
  [class*=dali-dropdown][class*=#{$color}]{
    $text-color: map-get($value, "foreground");
    $background-color: map-get($value, "background");

    .dali-dropdown-button{
      &:hover, &:focus-visible{
        background-color: rgba($background-color, 0.3);
      }
      &:active{
        background-color: rgba($background-color, 1);
        color: rgba($text-color, 1);
      }
    }
  }
}