// TODO: variants for all components
// TODO: content in dali-upload is hard coded
// TODO: place doc blocks around here.

@mixin input-container($height: 2.3em, $margin-top: 2em){
  border-radius: .3em;
  height: $height;
  margin-top: $margin-top;
  position: relative;
  
  label{
    font-size: 1rem;
    font-weight: 700;
    text-transform: capitalize;
    position: absolute;
    top: -1.4em;
  }
}

form{
  display: flex;
  flex-direction: column;
}

[class*=dali-input],
[class*=dali-select],
[class*=dali-textarea],
[class*=dali-upload] {
  @include input-container();
  
  input, select, textarea{
    height: 100%;
    width: 100%;
    border: 1px solid #cccccc;
    padding-left: 1em !important;
    border-radius: inherit;
    outline-color: inherit;
    
    &:focus{
      border-color: #86b7fe;
      box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(102 175 233 / 60%);
    }
    
    &:not(:placeholder-shown):not(select){
      background-color: #e8f0fe;
    }
  }
  
  &[class*=-icon]{
    display: inline-flex;

    span{
      background-color: $dali-white;
      color: #555555;
      aspect-ratio:1/1;
      padding-top: .65em;
      text-align: center;
      border-top-left-radius: inherit;
      border-bottom-left-radius: inherit;
    }

    input{
      border-top-left-radius: 0;
      border-bottom-left-radius: 0; 
    }
  }
}

[class*=dali-textarea] {
  @include input-container($height: 4.6em);

  textarea{
    padding: .5em;
    resize: none;
  }

  &[class*=-resizeable] textarea{
    resize: both;
  }
}

[class*=dali-upload]{
  @include input-container($margin-top: 1em !important);

  input{
    border-radius: inherit;
  }
}

.dali-upload::file-selector-button {
  visibility: hidden;
  display: none;
}

[class*=dali-upload]{
  height: 100%;
  width: 100%;
  
  &::before {
    content: $upload-text;
    cursor: pointer;
    display: inline-block;
    border: 1px solid #999;
    background-color: $dali-white;
    color: $dali-black;
    border-radius: inherit;
    padding: .3em .5em;
    margin-right: .3em;
    font-weight: 700;
  }
  &:hover::before {
    box-shadow: inset 0 0 0 1px $dali-white;
  }
}
// ! top has been desided on -1.4em based on login, but this might cause accidents later because of multiline errorMessages.
// ! this may cause problems for the responsiveness in regards with the forcefull placement of the element.
.errormessage {
  display: none;
  position: absolute;
  top: -1.4em;
  right: 0;
  color: red;
  font-weight: 700;
}

[aria-invalid="true"] {
  border: 2px solid red !important;
  ~ .errormessage {
    display: inline-block;
  }
}