.header{
  box-shadow: rgb(0 0 0 / 50%) 1px 0px 5px;
  min-height: 2rem;
  height: 6.65vh;
  border-radius: 0;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  
  
  nav{
    height: 100%;
    display: flex;
    
    a{
      text-decoration: none;
    }

    &.nav-right{
      right: 0;
      position: absolute;
    }
    
    .header-buttons{
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 2rem;
      height: 100%;
      aspect-ratio: 1/1;  
      padding: 0;
      border: none;
      border-radius: inherit;
      color: $dali-red;
      background-color: transparent;
      transition: all .3s ease;
      
      &:hover, &:focus-visible, &:active, &[aria-expanded="true"]{
        color: $dali-white;
        background-color: $dali-red;
        box-shadow: none;
      }
    }
    :focus-visible{
      mix-blend-mode: normal;
    }
  }

  h1{
    margin: 0;
    margin-left: .5rem;
    display: inline;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 700;
    color: #222 !important;
  }
}

[class*=dali-sidebar]:not([class*=right]) + .header{
  h1{
    transform: translate(3rem);
  }

  &>*:first-child{
    transform: translate(3rem);
    position: static;
  }
}

@media only screen and (min-width: 518px) {
  .header{
    height: 7.65vh;
    justify-content: center;
  }

  [class*=dali-sidebar]:not([class*=right]) + .header{
    &>*:first-child{
      position: absolute;
      left: 0;
    }

    h1{
      transform: translate(0rem);
    }
  }
}